<div class="relative m-4 shadow-lg bg-white rounded-lg p-4 flex flex-col justify-between items-start h-64 hover:scale-101 ease-out duration-100 ">
    <p class="bg-main text-white rounded-full w-28 py-1 shadow-lg text-center mb-4">On going</p>
    <h1 class="text-2xl"><span class="font-bold">Entreprise: </span></h1>
    <p><span class="font-bold">Objet: </span></p>
    <div class="w-full flex justify-between mt-4">
        <div class="flex w-3/5 justify-between items-start ml-8">
            <div class="flex flex-col items-center">
                <p class="font-bold">Gouvernerat:</p>
                <p></p>
            </div>
            <div class="flex flex-col items-center">
                <p class="font-bold">Date et heure de fin d'appel</p>
                <p></p>
            </div>
        </div>
        <button class="bg-main text-white border-2 border-primary rounded-full px-4 py-1 hover:text-white hover:font-semibold hover:px-6 ease-out duration-300 hover:shadow-md hover:bg-primary">Afficher plus</button>
    </div>
</div>