<div class="flex justify-center  gap-6 mt-80 mb-80">
    <div style="background-color: rgb(138, 138, 138);" class="w-3/12 ml-6 p-6">
        Filters
    </div>
    <div class="w-9/12 mr-10 p-6 object-contain" style="background-color: rgb(138, 138, 138);">
        <h3 class="mb-6">Applications</h3>
        <app-single-application></app-single-application>
        <app-single-application></app-single-application>
        <app-single-application></app-single-application>
        <app-single-application></app-single-application>

    </div> 
</div>